body {
    background-color: hsl(212, 45%, 89%);
}

.text {
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

.textBold {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.textSmall {
    font-size: .75em;
    color: hsla(220, 15%, 43%, 0.956);
}

.borderQR {
    border-radius: 2vh;
    padding: 1.7vh;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    margin-top: 15vh;
    height: 46vh;
    width: 28vh; 
}

.qr-code-image {
    border-radius: 2vh;
}


@media screen and (max-width: 400px) {
    .text {
        font-size: .8rem;
    }
    .textSmall {
        font-size: .7rem;
    }
  }